.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.user-welcome {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-welcome i {
  margin-left: 0;
}

.top-nav {
  padding: 0.75rem 0;
  background-color: var(--primary-color);
}

.top-nav .container,
.bottom-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav .brand-logo {
  position: static;
  transform: none;
  line-height: 1;
}

.brand-logo img {
  max-width: 150px;
  display: block;
}

.bottom-nav {
  background-color: var(--primary-dark);
}

.sidenav .brand-logo {
  padding: 1rem 1rem;
  background-color: var(--primary-color);
  min-height: 77px;
  height: unset;
  max-height: unset;
}

.bottom-nav .container {
  align-items: flex-end;
  line-height: 56px;
}

@media only screen and (max-width: 992px) {
  .brand-logo img {
    height: 56px;
    object-fit: contain;
  }
}

@media only screen and (max-width: 601px) {
  .top-nav .brand-logo {
    font-size: 1.25rem;
    display: none;
  }

  .brand-logo img {
    height: 48px;
  }
}
